body
{
	background:#eaf3f7;
	max-width:1000px;
	margin:0px auto;
	font-family:tahoma;
	font-size:13px;
}
#container
{
	background:#fff;
	padding:3px;
}
#header
{
	background:#3B5998;
	color:#fff;
	padding:10px;
}
#subheader
{
	background:#dff0d8;
	color:#3c763d;
	padding:10px;
	font-weight:bold;
}
#info
{
	padding:10px;
	background:#fcf8e3;
	color:#8a6d3b;
	border:1px solid #faebcc;
	margin:5px;
	margin-left:0px;
	margin-right:0px;
}
#blue_box
{
	padding:10px;
	color:#31708f;
	background:#d9edf7;
	border:1px solid #bce8f1;
	margin:5px;
	margin-left:0px;
	margin-right:0px;
}
.accordion
{
	border:1px solid #ccc;
	padding:5px;
	background:#f0f0f0;
	margin-bottom:3px;
}
.accordion:hover
{
	background:#3b5998;
	color:#fff;
	cursor:pointer;
}
a,a:visited
{
	text-decoration:none;
	color:#428bca;
	font-size:12px;
}
a:hover
{
	text-decoration:underline;
}
div
{
	padding:2px;
}
.selected_div
{
	background:#3B5998;
	color:#fff;
}
table 
{
	width:100%;
    border-collapse: collapse;
}

table, td, th 
{
    border: 1px solid #ccc;
}
th 
{
	background:#dff0d8;
	color:#3c763d;
	text-align:left;
}
td 
{
	width:50%;
}